body {
    margin: 0;
    background-color: #1c1c1c;
    color: white; /*cor da letra */
    font-family: fantasy; /*botar fonte */
    display: flex;  
    flex-direction: column; /*muda a direção dos itens: */
    align-items: center; /* alinha os itens verticalmente */
    justify-content: center; /*linha os itens horizontalmente  */
    min-height: 100vh;
  }

  .titulo {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem; /* Aqui você controla o espaço entre as linhas */
    align-items: center;
  }

  .terminal-grid {
    display: flex;
    gap: 0.3rem; /* Espaço entre os quadradinhos (horizontal) */
    margin: 0; /* Garante que não tem margem extra entre linhas */
    padding: 0;
     }

  .char-box {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #695e56;
    color: white;
    text-transform: uppercase;
    font-family: fantasy;
    margin-bottom: 0rem;
    caret-color: transparent;
  }

  .teclado {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 1.5rem;
  }

  .linha {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
  }

  .teclado button {
    padding: 1rem;
    font-size: 1rem;
    background-color: #695e56;
    color: white ;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
  }

  .teclado button:hover {
    background-color: #555;}

  .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  }

  .icon {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  }

  .icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  }

  .icon img.hover {
  opacity: 0;
  }

  .icon:hover img.hover {
  opacity: 1;
  }

  .icon:hover img.default {
  opacity: 0;
  }

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* Conteúdo da modal */
.modal-conteudo {
  background-color: #2b2622;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.topo {
  text-align: center;
  margin-bottom: 30px;
}

.topo h1 {
  font-size: 48px;
  color: white;
  margin: 0;
}

/* Botão "i" fixo no topo direito da tela */
#abrirModal {
  position: relative;
  top: -45px;
  left: 180px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  z-index: 1001;
}

#abrirModal img {
  display: block;
}
